.navbar-brand {
    height: auto;
}

.it-brand-wrapper img {
    height: 4rem;
    margin-right: 1rem;
}

.navbar-nav > .nav-item {
    margin-right: 1em;
}

.form-group label {
    position: initial;
}

.toolbar a {
    display: inline-block;
}

.toolbar:before {
    content: none;
}

.homepage .module-search {
    background-color: #0066cc;
}

.homepage .module-search .module-content {
    background-color: transparent;
}

.homepage .module-search .tags {
    background-color: #003366;
}

.homepage .stats ul li {
    float: none;
    width: auto;
}

.lang-select label {
    color: inherit;
}

@media (max-width: 767px) {
    .lang-select label {
        display: none;
    }
}

.next-item.btn-secondary a {
    color: white !important;
}

.it-header-slim-wrapper .it-header-slim-wrapper-content a {
    color: initial;
}

.it-header-wrapper .it-nav-wrapper .it-header-navbar-wrapper {
    position: inherit;
    left: auto;
    top: inherit;
    margin-top: 0;
    background: #06c;
}

.it-header-wrapper .it-nav-wrapper .it-header-navbar-wrapper nav {
    padding: 0 18px;
}

.navbar .navbar-collapsable {
    position: relative;
    top: auto;
    right: auto;
    left: auto;
    bottom: auto;
    z-index: auto;
    background: 0 0;
    display: block!important;
    -webkit-transition: none;
    transition: none;
}

.it-header-navbar-wrapper nav .navbar-collapsable .menu-wrapper {
    background: 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
}

.navbar .navbar-collapsable .menu-wrapper {
    position: inherit;
    top: auto;
    bottom: auto;
    right: auto;
    left: auto;
    overflow-y: visible;
    -webkit-transform: none;
    transform: none;
    -webkit-transition: none;
    transition: none;
    background: #06c;
}

.navbar-expand-lg .navbar-nav {
    flex-direction: row;
}

.navbar .navbar-collapsable .menu-wrapper .navbar-nav {
    padding: 0;
    overflow: visible;
    text-align: center;
    margin-top: 0;
    align-items: center;
}

.navbar .navbar-collapsable .navbar-nav li a.nav-link {
    font-weight: 400;
    padding: 13px 24px;
    color: #fff;
    border-bottom: 3px solid transparent;
    text-decoration: none;
}

@media (max-width: 575px) {
    .it-header-wrapper .it-nav-wrapper .it-brand-wrapper {
        padding-left: 0;
    }
    .navbar .navbar-collapsable .navbar-nav .nav-item {
        left: 0;
        padding: 5px 6px 3px 6px;
        border-bottom: none;
    }
    .navbar .navbar-collapsable .navbar-nav .nav-link {
        font-size: 12px;
        line-height: 14px;
    }
    .navbar .navbar-collapsable .navbar-nav .nav-item:hover {
        background-color: transparent;
    }
}

.toolbar {
    height: auto;
}

.toolbar .breadcrumb a {
    color: #505050;
}

.toolbar .btn-dropdown.active, .toolbar a.active {
    color: #06c;
}

