<div class="it-socials d-none d-md-flex">
    <span>Seguici su</span>
    <ul>
        {% block header_social %}
        <li>
            <a href="#" aria-label="Facebook" target="_blank">
                <svg class="icon">
                    <use xlink:href="/svg/sprite.svg#it-facebook">
                    </use>
                </svg>
            </a>
        </li>
        <li>
            <a href="#" aria-label="Github" target="_blank">
                <svg class="icon">
                    <use xlink:href="/svg/sprite.svg#it-github">
                    </use>
                </svg>
            </a>
        </li>
        <li>
            <a href="#" target="_blank" aria-label="Twitter">
                <svg class="icon">
                    <use xlink:href="/svg/sprite.svg#it-twitter">
                    </use>
                </svg>
            </a>
        </li>
        {% endblock %}
    </ul>
</div>